@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
$fontFamily1: "Roboto";
$fontFamily2: "Ubuntu";
$fontFamily3: "Cantarell";

$color1: #1297a7;
$color2: red;

$backgroundColor1: #01acac;
